<form #form="ngForm" novalidate (ngSubmit)="handleSubmit(form.value, form.valid)"> 
  {{ detail | json }}
  <div>
    Passenger name:
    <input 
    type="text" 
    name="name" 
    required
    #name="ngModel" 
    [ngModel]="detail?.name">
    <!-- ngModel gets a initial value but does much more under the hood (is binded)
    the template reference #name exports a referance to the local ngModel
    can ad "minlength=''" atribute so you can get an error if the name is to short -->

    {{ name.errors | json }}
    {{ name.value | json }}
    Valid: {{ name.valid | json }}
    Invalid: {{ name.invalid | json }}
  </div>
  <div *ngIf="name.errors?.required && name.dirty" class="error">
    <!-- the .dirty property indicates if the field has been interacted with by the user;
    initialy at runtime it is false but if the users modifies it it becomes true;
    this is needed because if the requested object.name does not have a value the required atribute will
    throw an error from the begining and the error div will be displayed -->
    <!-- can also use .touched -->

    Passenger name is required
  </div>

  <!-- checked-in using radio buttons -->
  <div>
    Checked-in:
    <label>
      <input 
        type="radio" 
        name="checkedIn" 
        [value]="true" 
        [checked]="status"
        [ngModel]="detail?.checkedIn" 
        (ngModelChange)="toggleCheckedIn($event)">
      Yes
    </label>
    <label>
      <input 
        type="radio" 
        name="checkedIn" 
        [value]="false" 
        [checked]="!status"
        [ngModel]="detail?.checkedIn"
        (ngModelChange)="toggleCheckedIn($event)">
      No
    </label>
  </div>

  <!-- checked-in using checkbox  -->
  <div>
    Checked-in:
    <input 
      type="checkbox" 
      name="checkedIn" 
      [checked]="status"
      [ngModel]="detail?.checkedIn" 
      (ngModelChange)="toggleCheckedIn($event)">
  </div>

  <div *ngIf="form.value.checkedIn">
    Check-in date:
    <input 
      type="number"
      name="checkInDate"
      [ngModel]="detail?.checkInDate">
  </div>

  <div>
    Luggage:
    <select 
      name="baggage"
      [ngModel]="detail?.baggage">
      <option 
        *ngFor="let item of baggage"
        [value]="item.key"
        [selected]="item.key===detail?.baggage">
        {{item.value}}
      </option>
    </select>
  </div>
  <div>
    Luggage:
    <select 
      name="baggage"
      [ngModel]="detail?.baggage">
      <option 
        *ngFor="let item of baggage"
        [ngValue]="item.key"> 
        <!-- ngValue directive does what [value]+[select] do in the example above -->
        {{item.value}}
      </option>
    </select>
  </div>
  {{ form.value | json }}

  <button 
    type="submit"
    [disabled]="form.invalid">
    Update Passenger
  </button>
  {{form.invalid}}
  <!-- this property indicates that all form fields are valid or not; can use oposite form.invalid -->
</form>